html {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'VenrynSansRegular';
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Arial, Verdana, sans-serif;
  color: #3c332a;
  text-align: center;
}

* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;
}

body {
  width: 100%;
  margin: 0 auto;
  background-image: url(1239346.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left center;
  
}

#content {
  overflow: auto;
}

#nav,
#feature,
#footer {
  margin: 1%;
}

.column1,
.column2,
.column3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}

.column3 {
  margin-right: 0%;
}

li {
  display: inline;
  padding: 0.5em;
}

#nav,
#footer {
  background-color: #FFF;
  padding: 0.5em 0;
}

#feature,
.article {
  height: 10em;
  margin-bottom: 1em;
  background-color: #FFF;
}

#feature {
  margin: auto;
  width: 93%;
  padding: 1em;
}


.about_text {
  background-color: #FFF;
  padding: 0.5em 0;
}

#container {
  background-color: #FFF;
  padding: 0.5em 0;
  margin: auto;
  width: 93%;
  
}

.A_container{
 display: flex;
  justify-content: center;
}

.unit{
  flex: 33.33%;
  padding: 5px;
  
}

.small{
  height: 100px;
  width: 100px;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1{
  color: #2020d9;
  line-height: 1.5;
}

#music{
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

p{
  line-height: 1.5;
  color: #333;
  
}